{loop type="chronopost.pickup.point.get.relay" name="chronopost-relay" orderweight="1000" countryid="64" zipcode="69003" city="Lyon" address="7 rue de la rize"}
{/loop}


{loop type="delivery" name="chronopost-pickup-point" id=$module force_return="true"}
    <tr style="display: none;" id="deliverytype-chronopost-pickup-point-tr">
        <td colspan="3">
            <div id="point-chronopost">
                <div id="deliverytype-chronopost-pickup-point">

                    {chronopostPickupPointDeliveryType}

                    {* Chrono13Bal *}
                    {if $isChrono13BalEnabled !== false}
                    {chronopostPickupPointDeliveryPrice delivery-mode="58" country=$country}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{intl l="Chrono 13H relay delivery" d='chronopost.pickup.point.fo.default'}</strong> / {$chronopostPickupPointDeliveryModePrice} {currency attr="symbol"}
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">

                                <div style="padding-top: 15px;">
                                    {intl l="Delivery in a relay of your choice, before tomorrow 13H." d='chronopost.pickup.point.fo.default'}

                                    <div class="clearfix">
                                        <button type="submit" name="chronopost-pickup-point-delivery-mode" value="CHRONO13BAL" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.pickup.point.fo.default"}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {/if}

                    {* TODO Add other delivery types *}

                </div>
            </div>
        </td>
    </tr>

    <script>
        function displayContentPickupPoint () {
            $("#deliverytype-chronopost-pickup-point-tr").show(function () {
                $('.btn-checkout-next').hide();
            });
        }

        $(function(){

            if ($("#delivery-method_{$module}").is(':checked')) {
                displayContentPickupPoint();
            }

            $('[name="thelia_order_delivery[delivery-module]"]', '.table-delivery').on('change', function(){
                if($(this).attr('id') != 'delivery-method_{$module}') {
                    $("#deliverytype-chronopost-pickup-point-tr").hide();
                    $('.btn-checkout-next').show();
                } else {
                    displayContentPickupPoint();
                }
            });

        });
    </script>
{/loop}