{loop type="delivery" name="chronopost-pickup-point" id=$module force_return="true"}
    <tr style="display: none;" id="deliverytype-chronopost-pickup-point-tr">
        <td colspan="3">
            <div id="point-chronopost">
                <div id="deliverytype-chronopost-pickup-point">

                    {chronopostPickupPointDeliveryType}

                    {* ChronoRelais *}
                    {if $isChronoRelaisEnabled !== false}
                        {chronopostPickupPointDeliveryPrice delivery-mode="86" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Chrono 13H relay delivery" d='chronopost.pickup.point.fo.default'}</strong> / {$chronopostPickupPointDeliveryModePrice->getAmount()} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery in a relay of your choice, before tomorrow 13H." d='chronopost.pickup.point.fo.default'}

                                        <div class="clearfix hidden">
                                            <button type="submit" id='chronopostPickupPointSubmitButton-86' name="deliveryModuleOptionCode" value="86" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.pickup.point.fo.default"}</button>
                                        </div>

                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>{intl l="Name" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="City" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Zip Code" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Address" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Country" d='chronopost.pickup.point.fo.default'}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {loop type="address" name="delivery-address" id={order attr="delivery_address"}}
                                            {loop type="chronopost.pickup.point.get.relay" name="chronopost_pickup_point_relay_loop" orderweight="10000" countryid=$COUNTRY zipcode=$ZIPCODE city=$CITY address=$ADDRESS1}
                                                <tr>
                                                    <td>{$NOM}</td>
                                                    <td>{$LOCALITE}</td>
                                                    <td>{$CODEPOSTAL}</td>
                                                    <td>{$ADRESSE1}</td>
                                                    <td>{$CODEPAYS}</td>
                                                    <td>
                                                        <div class="clearfix">
                                                            <button type="button" class="btn btn-primary pull-right pickup-point-submit"
                                                                    data-company="{$NOM}"
                                                                    data-addr1="{$ADRESSE1}"
                                                                    data-addr2="{$ADRESSE2}"
                                                                    data-addr3="{$ADRESSE3}"
                                                                    data-zip="{$CODEPOSTAL}"
                                                                    data-country="{$CODEPAYS}"
                                                                    data-city="{$LOCALITE}"
                                                                    data-deliverycode="86"
                                                            >
                                                                {intl l="Choose this pickup point" d="chronopost.pickup.point.fo.default"}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {/loop}
                                            {/loop}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* Chrono2ShopDirect *}
                    {if $isChrono2ShopDirectEnabled !== false}
                        {chronopostPickupPointDeliveryPrice delivery-mode="5X" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Chrono 2Shop Direct delivery" d='chronopost.pickup.point.fo.default'}</strong> / {$chronopostPickupPointDeliveryModePrice->getAmount()} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery in a shop relay of your choice." d='chronopost.pickup.point.fo.default'}

                                        <div class="clearfix hidden">
                                            <button type="submit" id='chronopostPickupPointSubmitButton-5X' name="deliveryModuleOptionCode" value="5X" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.pickup.point.fo.default"}</button>
                                        </div>

                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>{intl l="Name" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="City" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Zip Code" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Address" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Country" d='chronopost.pickup.point.fo.default'}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {loop type="address" name="delivery-address" id={order attr="delivery_address"}}
                                            {loop type="chronopost.pickup.point.get.relay" name="chronopost_pickup_point_relay_loop" orderweight="10000" countryid=$COUNTRY zipcode=$ZIPCODE city=$CITY address=$ADDRESS1}
                                                <tr>
                                                    <td>{$NOM}</td>
                                                    <td>{$LOCALITE}</td>
                                                    <td>{$CODEPOSTAL}</td>
                                                    <td>{$ADRESSE1}</td>
                                                    <td>{$CODEPAYS}</td>
                                                    <td>
                                                        <div class="clearfix">
                                                            <button type="button" class="btn btn-primary pull-right pickup-point-submit"
                                                                    data-company="{$NOM}"
                                                                    data-addr1="{$ADRESSE1}"
                                                                    data-addr2="{$ADRESSE2}"
                                                                    data-addr3="{$ADRESSE3}"
                                                                    data-zip="{$CODEPOSTAL}"
                                                                    data-country="{$CODEPAYS}"
                                                                    data-city="{$LOCALITE}"
                                                                    data-deliverycode="5X"
                                                            >
                                                                {intl l="Choose this pickup point" d="chronopost.pickup.point.fo.default"}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {/loop}
                                            {/loop}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* Chrono2ShopRetour *}
                    {if $isChrono2ShopRetourEnabled !== false}
                        {chronopostPickupPointDeliveryPrice delivery-mode="5Y" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Chrono 2Shop Retour delivery" d='chronopost.pickup.point.fo.default'}</strong> / {$chronopostPickupPointDeliveryModePrice->getAmount()} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery in a shop relay of your choice." d='chronopost.pickup.point.fo.default'}

                                        <div class="clearfix hidden">
                                            <button type="submit" id='chronopostPickupPointSubmitButton-5Y' name="deliveryModuleOptionCode" value="5Y" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.pickup.point.fo.default"}</button>
                                        </div>

                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>{intl l="Name" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="City" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Zip Code" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Address" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Country" d='chronopost.pickup.point.fo.default'}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {loop type="address" name="delivery-address" id={order attr="delivery_address"}}
                                            {loop type="chronopost.pickup.point.get.relay" name="chronopost_pickup_point_relay_loop" orderweight="10000" countryid=$COUNTRY zipcode=$ZIPCODE city=$CITY address=$ADDRESS1}
                                                <tr>
                                                    <td>{$NOM}</td>
                                                    <td>{$LOCALITE}</td>
                                                    <td>{$CODEPOSTAL}</td>
                                                    <td>{$ADRESSE1}</td>
                                                    <td>{$CODEPAYS}</td>
                                                    <td>
                                                        <div class="clearfix">
                                                            <button type="button" class="btn btn-primary pull-right pickup-point-submit"
                                                                    data-company="{$NOM}"
                                                                    data-addr1="{$ADRESSE1}"
                                                                    data-addr2="{$ADRESSE2}"
                                                                    data-addr3="{$ADRESSE3}"
                                                                    data-zip="{$CODEPOSTAL}"
                                                                    data-country="{$CODEPAYS}"
                                                                    data-city="{$LOCALITE}"
                                                                    data-deliverycode="5Y"
                                                            >
                                                                {intl l="Choose this pickup point" d="chronopost.pickup.point.fo.default"}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {/loop}
                                            {/loop}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* Shop2ShopFrance *}
                    {if $isShop2ShopFranceEnabled !== false}
                        {chronopostPickupPointDeliveryPrice delivery-mode="5E" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Shop 2 Shop France delivery" d='chronopost.pickup.point.fo.default'}</strong> / {$chronopostPickupPointDeliveryModePrice->getAmount()} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery in a shop relay of your choice." d='chronopost.pickup.point.fo.default'}

                                        <div class="clearfix hidden">
                                            <button type="submit" id='chronopostPickupPointSubmitButton-5E' name="deliveryModuleOptionCode" value="5E" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.pickup.point.fo.default"}</button>
                                        </div>

                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>{intl l="Name" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="City" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Zip Code" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Address" d='chronopost.pickup.point.fo.default'}</th>
                                                <th>{intl l="Country" d='chronopost.pickup.point.fo.default'}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {loop type="address" name="delivery-address" id={order attr="delivery_address"}}
                                            {loop type="chronopost.pickup.point.get.relay" name="chronopost_pickup_point_relay_loop" orderweight="10000" countryid=$COUNTRY zipcode=$ZIPCODE city=$CITY address=$ADDRESS1}
                                                <tr>
                                                    <td>{$NOM}</td>
                                                    <td>{$LOCALITE}</td>
                                                    <td>{$CODEPOSTAL}</td>
                                                    <td>{$ADRESSE1}</td>
                                                    <td>{$CODEPAYS}</td>
                                                    <td>
                                                        <div class="clearfix">
                                                            <button type="button" class="btn btn-primary pull-right pickup-point-submit"
                                                                    data-company="{$NOM}"
                                                                    data-addr1="{$ADRESSE1}"
                                                                    data-addr2="{$ADRESSE2}"
                                                                    data-addr3="{$ADRESSE3}"
                                                                    data-zip="{$CODEPOSTAL}"
                                                                    data-country="{$CODEPAYS}"
                                                                    data-city="{$LOCALITE}"
                                                                    data-deliverycode="5E"
                                                            >
                                                                {intl l="Choose this pickup point" d="chronopost.pickup.point.fo.default"}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {/loop}
                                            {/loop}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* TODO Add other delivery types *}

                </div>
            </div>
        </td>
    </tr>

    <script>
        function displayContentPickupPoint () {
            $("#deliverytype-chronopost-pickup-point-tr").show(function () {
                $('.btn-checkout-next').hide();
                $('#form-cart-delivery').find("> button").hide();
            });
        }

        $(function(){

            if ($("#delivery-method_{$module}").is(':checked')) {
                displayContentPickupPoint();
            }

            $('[name="thelia_order_delivery[delivery-module]"]', '.table-delivery').on('change', function(){
                if($(this).attr('id') != 'delivery-method_{$module}') {
                    $("#deliverytype-chronopost-pickup-point-tr").hide();
                    $('.btn-checkout-next').show();
                    $('#form-cart-delivery').find("> button").show();
                } else {
                    displayContentPickupPoint();
                }
            });

        });

        $(".pickup-point-submit").on("click", function (event) {
            console.log(this);
            console.log($(this));
            console.log(event);
            let deliveryCode = this.dataset.deliverycode;
            $.getJSON('{url path="/chronopost/pickup-point/save"}', {
                company: this.dataset.company,
                addr1: this.dataset.addr1,
                addr2: this.dataset.addr2,
                addr3: this.dataset.addr3,
                zip: this.dataset.zip,
                city: this.dataset.city,
                country: this.dataset.country
            }).done(function () {
                $("#chronopostPickupPointSubmitButton-" + deliveryCode).click();
            })
        })
    </script>
{/loop}
